{% extends '_layout.jinja2' %}

{% block content %}
<hgroup>
    <h2>News</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/news.svg') }}" alt='Le lieu'/>
</hgroup>
{% endblock content %}
