{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Schedule</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  <article>
    <h3>Calendar</h3>
    <p>
      Call for proposals will be open in early September, and calendar will be
      available in early October.
    </p>
  </article>

  <article id="register">
    <h3>Registration</h3>
    <p>
      Registration will be open in early October.
    </p>
  </article>

  <article id="dinner">
    <h3>Saturday night dinner</h3>
    <p>
      A dinner is organized on Saturday night, only for the ones who chose the
      option during their registration. Registration will be open in early
      October.
    </p>
  </article>
{% endblock content %}
