{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Schedule</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  <article>
    <h3>Calendar</h3>
    <p>
      The calendar is available below, in a <a class="button" href="{{
      url_for('schedule', lang=lang) }}">fullscreen page</a>, or
      <a class="button" href="{{ url_for('calendar') }}">in your favourite
      calendar application</a>.
    </p>
    <p>
      You can read the description of
      <a href="{{ url_for('talks', lang=lang, category='keynote') }}">keynotes</a>,
      <a href="{{ url_for('talks', lang=lang, category='conference') }}">talks</a>,
      <a href="{{ url_for('talks', lang=lang, category='workshop')}}">workshops</a> and
      <a href="{{ url_for('talks', lang=lang, category='sprint') }}">sprints</a>.
    </p>
    <!-- <iframe src="{{ url_for('schedule', lang=lang) }}"></iframe> -->
    <div class="column center">
    </div>
  </article>

  <article id="register">
    <h3>Registration</h3>
    <p>
      TODO
    </p>
  </article>

  <article id="dinner">
    <h3>Saturday night dinner</h3>
    <p>
      TODO
    </p>
  </article>
{% endblock content %}
