{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>The venue</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Venue'/>
  </hgroup>
  <article>
    <h2>Address</h2>
    <p>
      PyConFr 2020 is held at the<a href="https://mathinfo.unistra.fr/">
      UFR de mathématique et informatique</a> of the
      <a href="http://www.unistra.fr/">Université de Strasbourg</a>.
    </p>
    <address>
      Université de Strasbourg
      Campus Centre
      Bâtiment « Mathématiques, Informatique et Physique du globe »
      7 rue René Descartes
      67084 Strasbourg
    </address>
    <p>
      GPS coordinates: 48.579834, 7.763938
    </p>
    {{ map('Fullscreen') }}
  </article>

  <article>
    <h2>Reach the Campus</h2>

    <section>
      <h3>Public transport</h3>
      <p>
        Gare Centrale de Strasbourg. From Kehl you can take the tram to go
        to Strasbourg (<em>Kehl Bahnhof</em> station). Strasbourg train station
        is connected to lines A and D (underground) and line C (ground).
      </p>
    </section>

    <section>
      <h3>By car</h3>
      <p>
        When approaching Strasbourg take the direction of <em>Kehl</em>
        bypassing the city center by the south (quartier Neudorf) then follow
        <em>porte des Schirmeck</em> (Exit 4 of A35).
      </p>
      <p>
        You come by car and you have room? Consider carsharing :).
      </p>
    </section>

    <section>
      <h3>By bus</h3>
      <p>
        FlixBus stops at the bus station <em>Place de l’étoile</em> (avoid
        the alternative stop, <em>Bischheim</em>). At <em>Étoile-Bourse</em>
        you will be at tram lines A and D (and close to the university on foot).
      </p>
    </section>

    <section>
      <h3>En avion</h3>
      <p>
        Strasbourg airport is located at <em>Entzheim</em>. A train (TER)
        allow you to read the central railway station in 8 minutes 5 times
        per hour.
      </p>
    </section>

    <section>
      <h3>Self-Service Bikes</h3>
      <p>
        You can also reach the campus
        using <a href="https://velhop.strasbourg.eu/">self-service bikes
        (called "vélhop")</a>.
      </p>
    </section>
  </article>

  <article>
    <h2>Housing Advice</h2>
    <section>
      <h3>In Strasbourg</h3>
	  <p>
        TODO
	  </p>
    </section>
    <section>
      <h3>On the campus</h3>
	  <p>
        TODO
	  </p>
    </section>
  </article>
{% endblock content %}
