{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Programme</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/agenda.svg') }}" alt='Programme'/>
  </hgroup>

  <article>
    <h3>Calendrier</h3>
    <p>
      L’appel à conférences sera ouvert début septembre et le calendrier sera
      disponible début octobre.
    </p>
  </article>

  <article id="register">
    <h3>Inscriptions</h3>
    <p>
      Les inscriptions seront ouvertes début octobre.
    </p>
  </article>

  <article id="dinner">
    <h3>Repas du samedi soir</h3>
    <p>
      Un repas est organisé le samedi soir, uniquement pour les personnes ayant
      réservé lors de leur inscription. Les inscriptions seront ouvertes début
      octobre.
    </p>
  </article>
{% endblock content %}
