{% extends '_layout.jinja2' %}

{% block content %}
  <hgroup>
    <h2>Le lieu</h2>
    <hr/>
    <img src="{{ url_for('static', filename='svg/map.svg') }}" alt='Le lieu'/>
  </hgroup>
  <article>
    <h2>Adresse</h2>
    <p>
      PyConFr 2020 est hébergée
      par l’<a href="http://www.unistra.fr/">Université de Strasbourg</a>,
      à l'<a href="https://mathinfo.unistra.fr/">
      UFR de mathématique et informatique</a>.
    </p>
    <address>
      Université de Strasbourg
      Campus Centre
      Bâtiment « Mathématiques, Informatique et Physique du globe »
      7 rue René Descartes
      67084 Strasbourg
    </address>
    <p>
      Coordonnées GPS : 48.579834, 7.763938
    </p>
    {{ map('Voir en plein écran') }}
  </article>

  <article>
    <h2>Rejoindre le campus</h2>

    <section>
      <h3>En transport en commun</h3>
      <p>
        Gare Centrale de Strasbourg. Depuis Kehl vous pouvez prendre le
        tram pour venir sur Strasbourg (arrêt <em>Kehl Bahnhof</em>). La gare
        de Strasbourg est liée aux lignes A et D (en sous-sol) et la ligne C
        (dehors, de plain-pied).
      </p>
    </section>

    <section>
      <h3>En voiture</h3>
      <p>
        À l’approche de Strasbourg prendre la direction de <em>Kehl</em> en
        contournant le centre par le sud (quartier Neudorf) et en empruntant
        la <em>porte des Schirmeck</em> (Sortie 4 de la A35).
      </p>
      <p>
        Vous venez en voiture, il vous reste de la place ? Pensez au
        covoiturage :).
      </p>
    </section>

    <section>
      <h3>En bus</h3>
      <p>
        FlixBus pose à la gare routière <em>Place de l’étoile</em> (éviter
        l’autre arrêt, <em>Bischheim</em>). À <em>Étoile-Bourse</em> vous
        serez sur les lignes A et D du tram (et pas très loin à pied de
        l’université).
      </p>
    </section>

    <section>
      <h3>En avion</h3>
      <p>
        L’aéroport de Strasbourg est situé à <em>Entzheim</em>. Un train TER
        vous permet de rejoindre la gare centrale en 8 minutes jusqu’à 5 fois
        par heure.
      </p>
    </section>

    <section>
      <h3>En vélo libre service</h3>
      <p>
        Vous pouvez également vous rendre sur le campus en
        <a href="https://velhop.strasbourg.eu/">vélo libre service (vélhop)</a>.
      </p>
    </section>
  </article>

  <article>
    <h2>Conseils pour le logement</h2>
    <section>
      <h3>Dans Strasbourg</h3>
      <p>
        TODO
      </p>
    </section>
    <section>
      <h3>Sur le campus</h3>
      <p>
        TODO
      </p>
    </section>
  </article>
{% endblock content %}
