{% macro map(fullscreen) %}
  <iframe id="map" allowfullscreen width="100%" scrolling="no" src="https://framacarte.org/en/map/pyconfr-2020_79771?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"></iframe>
  <div class="column center">
    <a class="button" href="https://framacarte.org/en/map/pyconfr-2020_79771">{{ fullscreen }}</a>
  </div>
{% endmacro %}
